.task-pane {

    -fx-background-color: linear-gradient(
            to bottom right,
            #2b2b2b,
            #242424
    );

    -fx-background-radius: 18;

    -fx-border-radius: 18;

    -fx-border-color: #3a3a3a;

    -fx-border-width: 1;

    -fx-padding: 18;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.35),
            12,
            0.2,
            0,
            4
    );
}

.task-pane:hover {

    -fx-background-color: linear-gradient(
            to bottom right,
            #343434,
            #2b2b2b
    );

    -fx-cursor: hand;
}

.task-completed {

    -fx-background-color: linear-gradient(
            to bottom right,
            #1f3a2d,
            #1a3026
    );

    -fx-background-radius: 18;

    -fx-border-radius: 18;

    -fx-border-color: #3fa86a;

    -fx-border-width: 1;

    -fx-opacity: 0.82;

    -fx-padding: 18;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.25),
            10,
            0.15,
            0,
            3
    );
}
.list-view {

    -fx-background-color: #1f1f1f;
    -fx-control-inner-background: #1f1f1f;
    -fx-padding: 15;
}

.list-cell {

    -fx-background-color: transparent;
}